@import url("../../index.css");

.gridOverlay {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
}

.titleHeading {
  position: absolute;
  top: var(--tile-width);
  padding: 0;
  margin: 0;
  font-size: calc(var(--tile-width) * 2);
  cursor: default;
  letter-spacing: 2px;
}

.btn {
  position: absolute;
  top: calc(var(--tile-width) * 9 + 4px);
  width: calc(var(--tile-width) * 6 + 2px);
  height: calc(var(--tile-width) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #deeacb;
  border: 2px solid black;
  cursor: pointer;
  font-size: calc(var(--tile-width) * 0.9);
}

.btn:hover {
  background: #546163;
  cursor: pointer;
}

.btn:active {
  background: white;
  cursor: pointer;
}

.number {
  padding: 0;
  margin: 0;
  font-size: calc(var(--tile-width) * 10);
  cursor: default;
}
