.menuItem {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 82px;
  font-size: 30px;
  background: #deeacb;
  border: 2px solid black;
  top: 357px;
}

.menuItem:hover {
  background: #546163;
  cursor: pointer;
}

.menuItem:active {
  background: white;
  cursor: pointer;
}

/* .start {
  top: 357px;
} */

.counter {
  position: absolute;
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  padding: 0;
  margin: 0;
  font-size: 400px;
}
