.statsRow {
  font-size: 32px;
  color: #A5AF92;
}

.statName {
  font-weight: bold;
}

.statValue {
  font-weight: bold;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
