.StatsRow {
  font-size: 32px;
  color: #A5AF92;
}

.StatName {
  font-weight: bold;
}

.StatValue {
  font-weight: bold;
}

.Stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
