@import url("../../index.css");

.grid {
  padding: 4px;
  background: rgb(100, 100, 100);
}

.gridRow {
  display: flex;
}

.tileBase {
  width: var(--tile-width);
  height: var(--tile-width);
  border: solid 1px #687259;
}

.tileBase:hover {
  background-color: #484d52;
}

.tile {
  composes: tileBase;
  background: rgb(20, 20, 20);
}

.cell {
  composes: tileBase;
  background: #a5af92;
}
