.grid {
  padding: 4px;
  background: rgb(100, 100, 100);
}

.gridRow {
  display: flex;
}

.tile {
  width: 40px;
  height: 40px;
  border: solid 1px #687259;
  background: rgb(20, 20, 20);
}
.tile:hover {
  background-color: #484d52;
}

.cell {
  width: 40px;
  height: 40px;
  border: solid 1px #687259;
  background: #a5af92;
}

.cell:hover {
  background-color: #484d52;
}
