.game {
  display: flex;
  justify-content: center;
}

.gridContainer {
  display: inline-block;
  position: relative;
}

.sideContainer {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 600px;
  margin: auto;
}
