.statsRow {
  font-size: 34px;
  color: #a5af92;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leftContainer {
  display: flex;
  justify-content: flex-end;
  width: 250px;
  margin-right: 32px;

}
