@import url("../../index.css");

.statsRow p {
  margin-top: 0;
  font-size: calc(var(--tile-width) * 0.85);
  color: #a5af92;
}

.statsRow p:first-child {
  margin-bottom: 10px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: calc(var(--tile-width) * 4);
  margin-left: var(--tile-width);
}
