.statsRow p {
  margin-top: 0;
  font-size: 34px;
  color: #a5af92;
}

.statsRow p:first-child {
  margin-bottom: 10px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  margin-left: 32px;
}
