.game {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: inline-block;
}

.side-container {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 600px;
  margin: auto;
}

.Counter {
  position: absolute;
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Number {
  padding: 0;
  margin: 0;
  font-size: 400px;
}
